src/main/resources/CubeDefinition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cube">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="static-cubes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="static-cube" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="cubeId"/>
                    <xs:element name="DimnesionSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="field"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="filepath"/>
                          <xs:element type="xs:string" name="hdfs"/>
                          <xs:element type="xs:string" name="filetype"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MeasureSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="field"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="filepath"/>
                          <xs:element type="xs:string" name="hdfs"/>
                          <xs:element type="xs:string" name="filetype"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
