war/src/main/resources/udfConfiguration.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AcumeUdfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDefined" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="functionName" />
							<xs:element type="xs:string" name="fullUdfclassName" />
							<xs:element type="xs:string" name="fulljarPath"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>